body {
  font-size: 12px;
}

.background-image {
  background-image: url(/src/img/venueBackground.png);
  background-color: black;
  height: 100%;
}

.booking-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
}

.booking-search {
  display: flex;
}
.booking-search div {
  margin-left: 10px;
}

.venue-card-container {
  flex-wrap: wrap;
  display: flex;
  margin-top: 30px;
}

.venue-card {
  border: 1px solid rgb(128, 128, 128, 0.3);
  border-radius: 6px;
  background-color: white;
  margin: 15px 30px 15px 40px;
  width: 320px;
}
.venue-card img {
  width: 100%;
}

.venue-card-text {
  margin: 25px 0 0 30px;
  text-align: start;
  line-height: 2;
}
